name: Automated Preprocessing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  preprocess-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pandas numpy scikit-learn joblib

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_nyoman_arini_trirahayu.py

      - name: Commit processed data
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add preprocessing/DatasetBank_preprocessing/churn_preprocessed.csv
          git commit -m "Update preprocessing dataset" || echo "No changes to commit"
          git push
